@font-face {
    font-family: 'BotsmaticOutline';
    src: url('../fonts/BotsmaticOutline.ttf');
}

.name {
    font-family: 'BotsmaticOutline';
    color: #FF5722;
    font-size: 1.5em;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #2c2f33;
    color: #637784;
}

.container {
    width: 100%;
    height: 100%;
}

.section {
    width: 50vw;
    height: 100%;
    max-width: 50vw;
}

.container>.section:nth-child(1) {
    background: url('../images/assorted-wine-bottles-1283219.jpg');
    background-size: cover;
    filter: grayscale(100%);
    transition: filter  .2s;
}

.container>.section:nth-child(2) {
    background: url('../images/person-in-front-of-laptop-on-brown-wooden-table-2115217.jpg') 30%;
    background-size: cover;
    filter: grayscale(100%);
    transition: filter  .2s;
}

.container>.section:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

/* TPV */
.tpvBody {
    width: 100%;
    height: 90vh;
}

.ticketSec {
    width: 35vw;
    height: 100%;
}

#ticket {
    width: 100%;
    height: 75vh;
    background: #637784;
    border-radius: .5em;
    align-items: flex-start;
    overflow-y: auto;
}

#cuenta {
    width: 100%;
    text-align: center;
    margin: .5em;
}

tbody{
    width: 100%;
    height: 100%;
}

#cuenta tr {
    width: 100%;
    height: 2em;
    cursor: pointer;
    transition: all .3s;
}

.options {
    width: 100%;
    height: 15vh;
}

.options div {
    height: 4em;
    width: 4em;
    justify-content: space-around;
    margin: 2em;
    background-color: #2c2f33;
    border-radius: 15px;
}

.options div:hover {
    cursor: pointer;
}

.options div svg {
    width: 80%;
    height: 80%;
}

#check {
    color: green;
}

#times {
    color: red;
}

#trash {
    color: #E5E5E5;
}

.tpvContainer {
    width: 100%;
    height: 100%;
    background: #252A2D;
}

.tpvHeader {
    width: 100%;
    height: 10vh;
    color: #637784;
    justify-content: space-around !important;
}

#articles {
    width: 65vw;
    height: 100%;
    flex-direction: column;
}

#ariclesSec {
    width: 100%;
    height: 64vh;
    flex-wrap: wrap;
    align-items: flex-start !important;
    overflow-y: auto;
}

#sections {
    width: 100%;
    height: 34vh;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    overflow-y: auto;
}

.article, .artSection {
    width: 7em;
    height: 8em;
    background: #2c2f33;
    border-radius: 10px;
    margin: .5em;
    color: #E5E5E5;
}

.article:hover, .artSection:hover {
    cursor: pointer;
}

.separator {
    width: 95%;
    height: .1em;
    background-color: #FF5722;
    margin-top: .45em;
    margin-bottom: .45em;
}


/* ADMIN */
.adminContainer {
    width: 100%;
    height: 100vh;
    background: #E5E5E5;
}

.adminSec {
    background: #E5E5E5;
    height: 100vh;
    width: 100%;
}

.showAdminSec {
    background: #E5E5E5;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: showAdmin 1s ease-in-out;
}

@keyframes showAdmin {
    from {
        top: 100vh;
        left: 0;
        z-index: 0;
    }
    to {
        top: 0;
        left: 0;
        z-index: 1;
    }
}

#menu {
    height: 100%;
    width: 15vw;
    background: #252A2D;
}

#logo {
    height: 15vh;
    padding-top: 2.25vh;
}

#logo img {
    transform: scale(0.7);
}

#logo img:hover {
    cursor: pointer;
}

#menu ul {
    height: 85vh;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #E5E5E5;
    padding-top: 5vh;
}

#menu ul li {
    line-height: 3em;
    transition: all .3s;
    padding: .5em;
    padding-left: 1.5em;
}

#menu ul li:hover {
    cursor: pointer;
    background: #2c2f33;
    color: #FF5722;
}

#contenido {
    height: 100%;
    width: 85vw;
    flex-direction: column;
    justify-content: flex-start;
}

#contenidoAdmin {
    width: 100%;
    height: 100%;
}

.titleContainer {
    width: 90%;
    height: 15vh;
    justify-content: flex-start;
    letter-spacing: 5px;
}

.title {
    text-transform: uppercase;
    color: #2c2f33;
}

#contentImg {
    width: 50%;
}

.addItem {
    width: 80%;
    height: 10vh;
    justify-content: flex-end;
    align-items: flex-start;
}

.newItem {
    border: none;
    border-radius: 7px;
    background-color: #FF5722;
    width: 7vw;
    min-width: 85px;
    height: 3.5vh;
    min-height: 35px;
    transition: all .3s;
}

.newItem:hover {
    cursor: pointer;
    background-color: rgba(255, 86, 34, 0.8);
}

.formulario {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    background-color: #E5E5E5;
}

.editItems {
    flex-wrap: wrap;
    width: 60%;
}

.editItems div {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

.formulario label {
    font-weight: bold;
}

input, select {
    margin-top: 10px;
    background-color: #2c2f33;
    border: none;
    min-height: 25px;
    min-width: 200px;
    color: #788085;
    text-align: center;
}

.cancel {
    background-color: grey;
    min-width: 100px;
    min-height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 5px;
}

.add {
    background-color: #FF5722;
    min-width: 100px;
    min-height: 45px;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

.cancel:hover, .add:hover {
    cursor: pointer;
}

.botones {
    flex-direction: row !important;
}





/* TABLAS */
.datos {
    width: 80%;
    border-spacing: 0;
    border: 1px solid #FF5722;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    color: #2c2f33;
}

.datos th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

.datos th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

.titDatos {
    background-color: #FF5722;
} 

.datos td, .datos th {
    padding: .5em;
    vertical-align: center;
    text-align: center;
}

.datos thead {
    background-color: #FF5722 !important;
    color: black;
}

.datos tr:nth-child(even) {
    background-color: #f2f2f2;
}

.editItem {
    max-width: 35px;
}

.editItem:hover {
    cursor: pointer;
}

.editItem img {
    max-width: 20px;
    min-width: 15px;
}