<div class="flex titleContainer">
  <h2 class="title">Consumiciones</h2>
</div>

<div class="flex addItem">
  <button class="newItem" onclick="addItem('Consumption')">Nuevo</button>
</div>

<table class="datos" >
  <thead>
    <tr class="titDatos">
      <th>Nombre</th>
      <th>Puntos</th>
      <th>Precio/uds.</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="datosTabla">
  </tbody>
</table>



