<div class="flex titleContainer">
  <h2 class="title">Tipos de consumicion</h2>
</div>

<div class="flex addItem">
  <button class="newItem" onclick="addItem('ConsumptionType')">Nuevo</button>
</div>

<table class="datos" >
  <thead>
    <tr class="titDatos">
      <th>Nombre</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="datosTabla">
  </tbody>
</table>



