<div class="flex titleContainer">
  <h2 class="title">Productos</h2>
</div>

<div class="flex addItem">
  <button class="newItem" onclick="addItem('Product')">Nuevo</button>
</div>

<table class="datos" >
  <thead>
    <tr class="titDatos">
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Puntos</th>
      <th>Precio</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="datosTabla">
  </tbody>
</table>



