<div class="flex titleContainer">
  <h2 class="title">Usuarios</h2>
</div>

<div class="flex addItem">
  <button class="newItem" onclick="addItem('User')">Nuevo</button>
</div>

<table class="datos">
  <thead>
    <tr class="titDatos">
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Nº teléfono</th>
      <th>Correo electrónico</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="datosTabla">
  </tbody>
</table>



